.featured-vid {
   background-size: cover;
}

.dimmer {
  background: linear-gradient(to right, #000, rgba(0,0,0,0.5));
  z-index: 100;
}

.featured-vid video {
  filter: brightness(50%);
}

.featured-vid:hover {
}

.featured-vid-text {
  position: absolute;
  left: 120px;
  top: 300px;
  color: white;

}

.featured-vid-text h1 {
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 16px;
}

.featured-vid-text h2 {
  font-size: 32px;
  margin-bottom: 20px;

}

.featured-vid-text button {
  font-size: 18px;
  background-color: #B9090B;
  padding: 10px 14px;
  border: none;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
}

.featured-vid-text button:focus {
  outline: 0;
}
.featured-vid-text button:hover {
  cursor: pointer;
  background-color: $netflix-red;
  transition: 0.2s;
}

.featured-vid-text button i {
  margin-right: 10px;
}
