.genre-index-main {
  color: white;
  margin-top: 40px;
}

.genre-index-container {

}

.genre-list-item {
  margin-bottom: 36px;
}

.genre-title {
  margin-left: 36px;
  margin-bottom: 16px;
}
.genre-title-item {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  color: #999;
  text-decoration: none;
  transition: 0.2s;
}

.genre-title-item:hover {
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
/***Series***/

.series-list-item {
  width: 250px;
  max-width: 220px;
  min-width: 220px;
  height: 120px;
  min-height: 100px;
  max-height: 225px;
  border: 1px solid grey;
  transition: all .5s ease-in-out;
  // background: grey;
  border: 1px solid black;
  text-align: center;
}

.series-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 36px;
}

.series-list-item:hover {
  width: 260px;
  transform: scale(1.4);
  cursor: pointer;
  z-index: 100;
}
