.genre-index-main {
  color: white;
  margin-top: 40px;
  position: relative;
}

.genre-index-container {

}

.genre-list-item {
  margin-bottom: 36px;
}

.genre-title {
  margin-left: 36px;
  margin-bottom: 16px;
}
.genre-title-item {
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  color: #999;
  text-decoration: none;
  transition: 0.2s;
}

.genre-title-item:hover {
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
/***Series***/

.series-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 36px;
}

.series-list-item {
  margin-right: 5px;
  width: 320px;
  max-width: 320px;
  min-width: 300px;
  height: 180px;
  min-height: 100px;
  max-height: 225px;
  transition: all .5s ease-in-out;
}

.series-list-item:hover {
  transform: scale(1.25);
  cursor: pointer;
  z-index: 10;
}
