.genre-index-main {
  color: white;
  margin-top: 40px;
}

.genre-index-container {

}

.genre-list-item {
  margin-bottom: 36px;
}

.genre-list-item > h3 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 36px;
  margin-bottom: 16px;
}

/***Series***/

.series-list-item {
  width: 18%;
  max-width: 300px;
  height: 120px;
  border: 1px solid grey;
  transition: all .5s ease-in-out;
  background: grey;
  border: 1px solid black;
  text-align: center;
}

.series-list {
  display: flex;
  justify-content: space-around;
}

.series-list-item:hover {
  width: 260px;
  transform: scale(1.4);
  cursor: pointer;
  z-index: 100;
}



/**** Selected Series ******/
.serie-expand-main {
  height: 300px;
  background: #000;
  display: flex;
  justify-content: space-around;
}

.serie-overview-left {
  width: 40%;
  max-width: 400px;
}


.serie-overview-left-container  {
  margin-top: 12px;
  color: #999;
}

.serie-overview-left-container h2 {
  padding-top: 16px;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.serie-overview-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 12px;
}

.serie-overview-list li {
  margin-right: 10px;
  padding: 1px;
}

.serie-overview-left-container p {
  margin-top: 12px;
}

.mpaa-rating {
  border: 1px solid #999;
}

.serie-overview-left-container p {
  line-height: 1.3;
}

.serie-overview-right {
  width: 40%;
}

.serie-overview-video {
  width: 500px;
  height: 300px;
  background: grey;
}
