/*
main-top
  navbar
    navbar-header
      navbar-header-link
        navbar-header-title
    navbar-greeting
      (GreetingContainer)
      header-group
        header-name
          header-button-signin  / header-button-signout

*/

/*** Navbar - Root or Auth - determined in app.jsx ***/
.root-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.auth-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
/**************/

.navbar-header {
  margin-left: 22px;
}

.navbar-header-link {
  text-decoration: none;

}

.navbar-header-title {
  font-size: 36px;
  font-weight: 700;
  color: $netflix-red;
}

.navbar-greeting {

}

.header-group {
  margin-right: 22px;
}

.login {
  margin-top: 10px;
}

.header-button-login {
  text-decoration: none;
  color: #fff;
  background: $netflix-red;
  padding: 6px 16px;
  font-weight: 200;
  border-radius: 3px;
  font-size: 16px;
}

.header-button-login:hover {
  background: $netflix-red-hover;
}
