.auth-navbar {
  padding-top: 12px;
  padding-bottom: 12px;
}

.all-nav-container {
  display: flex;
  justify-content: space-between;
}

.all-nav-header {
  margin-left: 22px;
  display: flex;
}

.all-nav-header-link {
  text-decoration: none;
}

.all-nav-header-link img {
  width: 150px;
  height: 100%;
  margin-left: 10px;
}

.navbar-header-title {
  font-size: 36px;
  font-weight: 700;
  color: $netflix-red;
  padding-top: 6px;
  margin-left: 20px;
}

.header-group {
  margin-right: 22px;
}

.login {
  margin-top: 10px;
}

.header-button-login {
  text-decoration: none;
  color: #fff;
  background: $netflix-red;
  padding: 6px 16px;
  font-weight: 200;
  border-radius: 3px;
  font-size: 16px;
}

.header-button-login:hover {
  background: $netflix-red-hover;
}

.main-nav-right {
  margin-right: 22px;
  color: white;
  display: flex;
}

.main-nav-right i {
  color: white;
}

.header-button {
  background: black;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
}

.header-button:hover {
  text-decoration: underline;
}

.btn-browse {
  text-align: left;
}


/************/




.fa-caret-down {
  margin-top: 8px;
}



.nav-dropdown-root {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px;
}

.nav-browse {
  color: $netflix-red;
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
  cursor: pointer;
}
.browse-caret {
  color: $netflix-red;
  padding-top: 10px;
  margin-left: 6px;
}

.nav-dropdown-root:hover > div {
  display: block;
  z-index: 100;
}
.nav-dropdown-menu {
  border: 1px solid #555;
  border-top: 2px solid white;
  width: 150px;
  min-height: 40px;
  display:none;
  position:absolute;
  top:100%;
  left: 20px;
  background:#000;
  padding: 10px 4px;
  text-align: left;

}
.nav-dropdown-item {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 8px;
}
.nav-dropdown-item:hover {
  text-decoration: underline;
  cursor: pointer;

}

.nav-dropdown-signout {
  border: 1px solid #555;
  border-top: 2px solid white;
  width: 150px;
  min-height: 40px;
  display:none;
  position:absolute;
  top:100%;
  left: 20px;
  background:#000;
  padding: 10px 4px;
  text-align: left;

}

/**************/

.nav-profile {
  padding-top: 4px;
}

.nav-dropdown-profile {
  position: relative;
  margin-right: 60px;
  padding: 0;
  display: flex;
  cursor: pointer;

}


.nav-dropdown-signout {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-browse {
  color: $netflix-red;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 14px;
  cursor: pointer;
}
.browse-caret {
  color: $netflix-red;
  padding-top: 6px;
  margin-left: 6px;
}

.nav-dropdown-profile:hover > div {
  display: block;
  z-index: 100;

}
.nav-dropdown-menu-signout {
  border: 1px solid #555;
  border-top: 2px solid white;
  width: 150px;
  min-height: 20px;

  display:none;
  position:absolute;
  top:100%;
  right: 1px;
  background:#000;
  padding: 10px 4px;
  text-align: center;
}

.nav-dropdown-item:hover {
  text-decoration: underline;

}

.user-icon {
  background: url('user-icon.png');
  height: 34px;
  width: 34px;
  margin-right: 12px;
}

.header-name {
  font-size: 12px;
  margin-right: 12px;
  padding-top: 12px;
  color: white;
}

.signout-caret {
  color: #fff;
  padding-top: 1px;
}

.header-button-signout {
  color: white;
  background-color: inherit;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.header-button-signout:hover {
  cursor: pointer;
  text-decoration: underline;

}
