@media (min-width: 1400px) {
  .series-list-item img {
    height: 175px;
  }
}

@media (min-width: 1200px) {
  .splash-main h1 {
    font-size: 68px;

  }

  .splash-main h2 {
    font-size: 22px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

}

@media (max-width: 1100px) {
  .featured-vid-text {
    position: absolute;
    left: 120px;
    top: 200px;
    color: white;
  }
}


@media (max-width: 900px) {
  .series-list {
    justify-content: flex-start
  }

  .featured-vid-text {
    position: absolute;
    left: 120px;
    top: 100px;
    color: white;
  }

  .featured-vid-text h1 {
      font-size: 46px;
      font-weight: bold;
      margin-bottom: 16px;
  }

  .featured-vid-text h2 {
    font-size: 26px;
    margin-bottom: 20px;

  }

}


@media (max-width: 670px) {

  .mobile-white {
    background: #fafafa;
  }
  .login-form-container {
    width: 100%;
  }
  .auth-navbar {
    padding-top: 4px;
  }
  .navbar-header-title {
    font-size: 18px;
    margin-top: 8px;
  }
  .user-icon {
    display: none;
  }

  /** Series List Items **/
  .series-list {
    justify-content: flex-start
  }
  .series-list-item {
    width: 250px;
  }

  /**Expanded Series View**/
  .serie-overview-left-container h2 {
    font-size: 20px;
  }

  .serie-overview-list {
    font-size: 0.9em;
  }

  .serie-overview-left-container p {
    font-size: 0.9em;
  }

  .serie-expand-main {
    width: 100%;
  }

  .footer-main {
    margin-top: 0;
  }

  /* Splash */
  .splash-main {
    margin-left: 20px;
  }
  .splash-main h1 {
    font-size: 36px;
  }

  /* Featured Video */
  .featured-vid-text {
    left: 40px;
    top: 100px;
  }

  .featured-vid-text h1 {
    font-size: 36px;
  }

  .featured-vid-text h2 {
    font-size: 20px;
  }

}
