@media (max-width: 900px) {
  .series-list {
    justify-content: flex-start
  }
}


@media (max-width: 670px) {
  .mobile-white {
    background: #fafafa;
  }
  .login-form-container {
    width: 100%;
  }
  .auth-navbar {
    padding-top: 4px;
  }
  .navbar-header-title {
    font-size: 18px;
    margin-top: 8px;
  }
  .user-icon {
    display: none;
  }

  /** Series List Items **/
  .series-list {
    justify-content: flex-start
  }
  .series-list-item {
    width: 250px;
  }

  /**Expanded Series View**/
  .serie-overview-left-container h2 {
    font-size: 20px;
  }

  .serie-overview-list {
    font-size: 0.9em;
  }

  .serie-overview-left-container p {
    font-size: 0.9em;
  }

  .serie-expand-main {
    width: 100%;
  }


}
