@media (max-width: 670px) {
  .mobile-white {
    background: #fafafa;
  }
  .login-form-container {
    width: 100%;
  }
  .navbar-header-title {
    font-size: 18px;
    margin-top: 8px;
  }
  .serie-overview-left-container h2 {
    font-size: 20px;
  }

  .serie-expand-main {
    display: flex;
    flex-direction: column-reverse;
  }

}
