

.review-form label {
  display: block;
}
.review-form label textarea {
  width: 70%;
  height: 150px;
  max-height: 200px;
  max-width: 80%;
  background: #000;
  border: 2px solid darkgrey;
  color: darkgray;
  font-size: 16px;
}


.review-stars {
  display: block;
  margin-bottom: 8px;
}



.btn-review {
  margin-top: 10px;
  margin-right: 20px;
  color: white;
  background-color: #B9090B;
  border: none;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 16px;
}

.btn-review:hover {
  cursor: pointer;
  background: $netflix-red;
}

.cancel {
  background-color: grey;
}
