.serie-review-container {
  margin-left: 8%;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}

.serie-reviews-create {
  width: 40%;
}

.review-preview-list {
  margin-top: 16px;
}

.review-preview-list li {
  margin-bottom: 12px;
}

.review-preview-comment {
  color: grey;
  font-size: 14px;
}

.see-all-reviews {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.see-all-reviews:hover {
  text-decoration: underline;
  cursor: pointer;
}

.video-modal-container {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.video-modal-container:hover {
  cursor: pointer;
}
