.serie-review-container {
  margin-left: 8%;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}

.serie-reviews-create {
  width: 40%;
}

.review-preview-list {
  margin-top: 16px;
}

.review-preview-list li {
  margin-bottom: 12px;
}

.review-preview-comment {
  color: grey;
  font-size: 14px;
}

.see-all-reviews {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.see-all-reviews:hover {
  text-decoration: underline;
  cursor: pointer;
}

.video-modal-container {
  width: 100%;
  height: 100%;

  z-index: 100;
  background-color: black;
}

.video-modal-container img {
    max-height: 300px;
}

.video-modal-container:hover {
  cursor: pointer;
}

.review-modal-link {
  font-size: 14px;
}

.review-modal-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.review-index-comment {
  font-size: 18px;
  color: grey;
  margin-bottom: 18px;
}

.review-modal-top h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.serie-expand {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
