.serie-episodes-main {
  width: 100%;
}

.serie-container {

}

.serie-title-container {
  margin-left: 8%;
}

.serie-episodes-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.serie-episodes-list > .slider {
  margin-left: 0;
}

.serie-episodes-list-item {
  width: 270px;
  margin-right: 30px;
}

.episode-contents {
  width: 100%;
  margin-right: 30px;
}

.episode-contents img {
  height: 140px;
}
.episode-contents img:hover {
  cursor: pointer;
}

/***/
.play-btn-container i {
  position: absolute;
  top: 45px;
  right: -38px;
  font-size: 54px;
  display: none;
  transition: 0.2s;
}

.play-btn-container:hover i {
  display: block;
  transition: 0.2s;
}

.play-btn-container i:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.play-btn-container:hover {
  cursor: pointer;
  transition: 0.2s;


}
/***/

.episode-contents img:hover i {
  display: block;
}

.episode-contents li {
}

.episode-description {
  font-size: 13px;
  width: 250px;
  height: 77px;
  margin-top: 2px;
  margin-right: 20px;
  overflow-y: hidden;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.episode-name-runtime {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 10px;
}

.ep-button-l {
  margin-right: 40px;
}
.ep-button-r {

}
