.splash-main {
  margin-top: 16%;
  margin-left: 50px;
  color: white;
  height: 400px;
}

.splash-main h1 {
  margin: 14px 0;
  font-size: 48px;
  font-weight: 600;

}

.splash-main h2 {
  margin: 14px 0;
  text-transform: uppercase;
}

.splash-main ul {
  margin: 24px 0;
}

.splash-btn-signup {
  background-color: $netflix-red;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}
