.splash-main {
  margin-top: 16%;
  margin-left: 50px;
  color: white;
  height: 400px;
}

.splash-main h1 {
  margin: 16px 0;
  font-size: 48px;
  font-weight: 600;

}

.splash-main h2 {
  margin: 16px 0;
  text-transform: uppercase;
}

.splash-main ul {
  margin: 34px 0;
}

.splash-btn-signup {
  background-color: $netflix-red;
  color: white;
  text-decoration: none;
  padding: 14px 26px;
  margin-top: 10px;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  border-radius: 2px;
}

.splash-btn-signup:hover {
  background: #e50914;
  cursor: pointer;
}
