/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// CSS Reset
@import "api/base/reset.scss";

// Core
@import "api/base/fonts.scss";
@import "api/base/colors.scss";

// Components
@import "api/components/*";
@import "api/components/media-queries.scss";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  font-family: $net-helvetica;
}

body {
  background: #141414;
  width: 100%;
  overflow-x: hidden;
}

.white {
  color: #fff;
}

.splash-body {
  // background: linear-gradient(to right, #000, transparent), no-repeat center url('splash-bg');
  background: no-repeat center url('https://s3.amazonaws.com/docflix-prod/img/splash-bg.png');
  height: 100vh;

}

.auth-body {
  background: url('https://s3.amazonaws.com/docflix-prod/img/auth-princess.png') ;
  min-height: 800px;
  height: 100%;
}

// .signed-in-body {
//
// }
